@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 56% 92%;
    --foreground: 170 20% 10%;
    --card: 170 56% 95%;
    --card-foreground: 170 20% 10%;
    --popover: 170 56% 95%;
    --popover-foreground: 170 20% 10%;
    --primary: 169 44% 65%;
    --primary-foreground: 170 20% 10%;
    --secondary: 170 30% 85%;
    --secondary-foreground: 170 20% 10%;
    --muted: 170 30% 88%;
    --muted-foreground: 170 15% 40%;
    --accent: 223 39% 69%;
    --accent-foreground: 223 20% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 30% 80%;
    --input: 170 30% 88%;
    --ring: 169 44% 65%;
    --radius: 0.5rem;
    --chart-1: 169 44% 65%;
    --chart-2: 223 39% 69%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 170 10% 5%;
    --foreground: 170 20% 95%;
    --card: 170 10% 8%;
    --card-foreground: 170 20% 95%;
    --popover: 170 10% 8%;
    --popover-foreground: 170 20% 95%;
    --primary: 169 44% 65%;
    --primary-foreground: 170 20% 10%;
    --secondary: 170 15% 15%;
    --secondary-foreground: 170 20% 95%;
    --muted: 170 15% 20%;
    --muted-foreground: 170 15% 60%;
    --accent: 223 39% 69%;
    --accent-foreground: 223 20% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 15% 20%;
    --input: 170 15% 20%;
    --ring: 169 44% 65%;
    --chart-1: 169 44% 65%;
    --chart-2: 223 39% 69%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body {
    background: white;
    color: black;
  }
  .no-print {
    display: none;
  }
  .printable-area {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none !important;
    box-shadow: none !important;
  }
  .printable-area .card-content {
    padding-top: 1.5rem !important;
  }
  .printable-area .accordion-item {
    border-bottom: 1px solid #ccc;
  }
  .printable-area .accordion-content {
    height: auto !important;
    overflow: visible !important;
    visibility: visible !important;
    animation: none !important;
    padding-bottom: 1rem;
  }
  .printable-area .accordion-trigger svg {
    display: none;
  }
}
